.contact__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 70px auto;
    gap: 10px;
}

.contact__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__data__subtitle {
    font-size: 32px;
}

.contact__data__icons__container {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form__input {
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    width: 510px;
}

.contact__form__textarea {
    height: 145px;
}

.contact__form__btn {
    background-color: #111;
    color: #33FF00;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .3s ease
}

.contact__form__btn:hover {
    box-shadow: 0 0px 10px 1px #606060;
    transition: all .3s ease;
}

@media screen and (max-width: 1220px) {
    .contact__container {
        width: 95%;
    }

    .contact__data {
        width: 50%;
    }

    .contact__form {
        width: 50%;
    }

    .contact__form__input {
        width: 90%;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .contact__form__btn {
        width: 90%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 660px) {
    .contact__container {
        flex-direction: column;
    }

    .contact__data {
        width: 100%;
    }

    .contact__form {
        width: 100%;
    }
}