.project {
    width: 350px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__image {
    width: 350px;
}

.project__title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.project__text {
    padding: 0 15px;
}

.project__btn__container {
    padding: 15px;
}

@media screen and (max-width: 660px) {
    .project {
        max-width: 350px;
        width: 95%;
    }

    .project__image {
        max-width: 350px;
        width: 100%;
        height: auto;
    }
}